.env
.env.local
.env.production
.env.staging
.env.development
.env*.local
node_modules
.next
.vercel
.backups/
dist
coverage
*.log
*.tmp
*.tsbuildinfo
*.bak
*.dump
public/uploads/
public.zip
.DS_Store
Thumbs.db
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
